<h2 mat-dialog-title>
  {{ data?.person ? 'Editar persona' : 'Nueva persona' }}
</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nombre *</mat-label>
    <input matInput [(ngModel)]="person.nombre" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="person.apellido" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Teléfono</mat-label>
    <input
      matInput
      type="tel"
      [(ngModel)]="person.telefono"
      (blur)="onPhoneBlur()"
      placeholder="Ej: 0962786611"
    />
    <mat-hint align="start">Se completará automáticamente con 593 si falta</mat-hint>
    @if(!isPhoneValid(person.telefono)){

    }

  </mat-form-field>
<mat-form-field appearance="outline" class="w-full">
  <mat-label>Cantidad de admisiones</mat-label>
  <input
    matInput
    type="number"
    min="0"
    [(ngModel)]="person.cantidadAdmisiones"
    placeholder="Ej: 1"
  />
</mat-form-field>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nota</mat-label>
    <textarea matInput rows="2" [(ngModel)]="person.nota"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>
