.spacer {
  flex: 1 1 auto;
}

mat-card {
  padding: 12px 16px;
}

button[mat-icon-button] {
  background: rgba(123, 77, 187, 0.07);
  margin: 0 2px;
}

button[mat-icon-button]:hover {
  background: rgba(123, 77, 187, 0.15);
}

tr[mat-row] td {
  vertical-align: middle;
}

button[mat-raised-button][disabled],
button[mat-stroked-button][disabled] {
  opacity: 0.5;
}
